.speaker-container{
    background-color: #EAEAEA;
}

.speaker-container_block{
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 5vh 0 ;
    justify-items: center;
    grid-template-columns: 50% 40%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
    "points image"
    "card card";
}

.speaker-container__left{
    grid-area:points;
}
.speaker-container__right{
    grid-area:image;
    align-self: end;
}
.speaker-container__bottom{
    grid-area:card;
    display: grid;
    grid-gap: 1rem;
    justify-items: left;
    border-radius: 1rem;
    background: #80A73E;
    background: linear-gradient(to right, #80A73E, #283816);
    padding: 2vh 2vw;
    color:white;
}

.speaker-container__right_img{

    max-width: 100%;
}
.item{
    border-radius: 10px;
    padding: 3%;
    margin: 5vh 0;
    font-family: 'HeliousRegular';
    font-size: calc(14px + 4 * (100vw/1220));
    color:  #283816;
    background-color: white;
}

.item-number{
    display: flex;
    width: 2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #283816;
    margin-bottom: 3vh;
    border-radius: 10px;
}
.speaker-container__h{
    font-size: calc(25px + 23 * (100vw/1220));
    margin: 3vh 0;
}


.speaker-container__bottom_title{
    font-size: calc(20px + 10 * (100vw/1220))
}


@media screen and (max-width: 768px) {

    .speaker-container_block{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "points"
        "image"
        "card";
    }
}